@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
body{
    font-weight: 300;
    background: #0c1c3e;
    color: #18242e;
    font-family: "Lato",sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    position: relative;
}
p {
    font-weight: 400;
    font-size: .87em;
}
ol, ul {
    list-style: none;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    position: relative;
}
h1 {
    font-weight: 900;
    color: #fff;
    font-size: 6em;
}
section{
	min-height: 650px;
}
button:focus {
    outline: none;
}
main{
    background: #000;
    max-width: 1680px;
    margin: 0 auto;
}
#home .bg-wrapp{
    z-index: 0;
}
#home .bg-wrapp::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    pointer-events: none;
    z-index: 1;
}

@media (min-width: 1440px){
    body {
        font-size: 14px;
    }
    main {
        box-shadow: 1px 1px 40px #000;
    }
}





.video-wrapp{
	display: inline-block; 
    padding: 0;            
    margin: 0;
    width: 100%;           
    padding-top: 56.25%;   
    height: 0px;           
    position: relative;    
}
.video-wrapp iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.text-danger {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.btn-secondary {
    background: #00acee;
    background: -webkit-gradient(linear,right top,left top,color-stop(4%,#00acee),color-stop(33%,#0087e6),color-stop(93%,#00d1f6));
    background: -o-linear-gradient(right,#00acee 4%,#0087e6 33%,#00d1f6 93%);
    background: linear-gradient(to left,#00acee 4%,#00d1f6 93%);
    font-size: 46px;
    border: 1.5px solid #fff;
    border-radius: 8px;
	width: 50%;
}
.scrollbar-sunny-morning::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
.scrollbar-sunny-morning::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #A2DB96 0%, #23CCA9 100%);
    background-image: linear-gradient(120deg, #A2DB96 0%, #23CCA9 100%);
}
.scrollbar-sunny-morning::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 0;
}
.arrow-circle, .arrow-white, .back-to-top, .back-to-top-curve, .blue-tab, .close-icon, .niantic-logo-white, .play-icon-large, .play-icon-small, .pokemon-company {
    display: inline-block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url(../images/sprite.png);
}
.facebook-icon, .google-plus-icon, .instagram-icon, .reddit-icon, .tumblr-icon, .twitter-icon, .youtube-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
}
.form-control{
	border: 1.5px solid #55D5AD;
    border-radius: 6px;
    color: #55D5AD;
    font-weight: 600;
    font-size: 12px;
}
.btn-sign-in{
	text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    border-radius: 30px;
    background-image: linear-gradient(to right, #A2DB96, #23CCA9);
    padding: 9px 35px;
}
#home{
	position: relative;
	min-height: 100vh;
}
/*
#home .bg-wrapp:before,
#home .bg-wrapp:after {
	content: '';
    display: block;
    width: 100%;
    z-index: 0;
    position: absolute;
    left: 0;
    opacity: .73;
}
#home .bg-wrapp:before {
    height: 302px;
    top: -28px;
    background: -webkit-gradient(linear,left top,left bottom,from(#04dabe),color-stop(55%,rgba(155,255,123,.43)),to(rgba(155,255,123,0)));
    background: -o-linear-gradient(top,#04dabe 0,rgba(155,255,123,.43) 55%,rgba(155,255,123,0) 100%);
    background: linear-gradient(to bottom,#04dabe 0,rgba(155,255,123,.43) 55%,rgba(155,255,123,0) 100%);
    z-index: 2;
}
#home .bg-wrapp:after {
    height: 150px;
    bottom: 0;
    background: -webkit-gradient(linear,left top,left bottom,from(rgba(155,255,123,0)),color-stop(45%,rgba(155,255,123,.43)),to(#04dabe));
    background: -o-linear-gradient(top,rgba(155,255,123,0) 0,rgba(155,255,123,.43) 45%,#04dabe 100%);
    background: linear-gradient(to bottom,rgba(155,255,123,0) 0,rgba(155,255,123,.43) 45%,#04dabe 100%);
    z-index: 2;
}
*/
#home .bg-wrapp .hero-bg {
	background-image: url(../images/p.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: calc(50% - 50%);
    left: calc(50% - 50%);
    width: 100%;
    height: 100%;
}
.pre-footer{
	background-image: url(https://lh3.googleusercontent.com/d3MUt9qnSpEQTo_yOpwf9wefXSrAbGeFT1uo69kPu0piUpx3dt7k99rRpaMZAM3rV-MwVSZe8sGuPHmFKnmwP-2S2jE8KnJnvXo2-MsaMa2B-hI=rw-e365-w1440);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-text h1 {
    color: #cde8f1;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 900;
}
.home-text h1 .gradient-text {
    display: block;
    color: #cde8f1;
    -webkit-text-fill-color: transparent;
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#9fe1f3));
    background: -o-linear-gradient(top,#fff,#9fe1f3);
    background: linear-gradient(to bottom,#fff,#9fe1f3);
    -webkit-background-clip: text;
    background-size: 0;
    -webkit-background-size: auto;
    -o-background-size: 0;
	text-transform: uppercase;
    font-weight: 900;
}
.home-text p {
    display: inline-block;
    background-color: rgba(0,0,0,.33);
    border-radius: 6px;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 0 20px 0;
}
/*
.mobile-phone{
	background-image: url(../images/android-cell-phone-png.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
	width: 350px;
	position: relative;
	height: 100%;
	transition: all 0.3s ease-in-out;
}
.mobile-phone.bigger{
	width: 370px;
	height: 550px;
}*/
.mobile-phone .content-wrapp{
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    max-width: 350px;
    overflow: hidden;
    color: #fff;
}
.screens {
	display: none;
}
.screens.screen1{
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.pokecoins-wrapp a{
	text-decoration: none;
	display: block;
    background-image: url(https://lh3.googleusercontent.com/G96FZlHKqinn3Set04FGBnz1XMCeObkJtdcLCiTXFoG2W8SlQb_qVdvYdpf4Qd04G7piQz6lOfYis5TMEL-KgzUbFgZOSyJj3gBdQuRFhVp5cOs=e365-w1170);
    border-radius: 5px;
}
.loader-text-wrapp,
.screen3-inner{
    background-image: url(https://lh3.googleusercontent.com/G96FZlHKqinn3Set04FGBnz1XMCeObkJtdcLCiTXFoG2W8SlQb_qVdvYdpf4Qd04G7piQz6lOfYis5TMEL-KgzUbFgZOSyJj3gBdQuRFhVp5cOs=e365-w1170);
    padding: 15px;
    width: 330px;
    border-radius: 5px;
}
.recent-activity{
    background-image: url(https://lh3.googleusercontent.com/sscJ3XNJlmo_mIF_E_aSXgoVbhj5JNTrZHSuDM6EUAXr-9TWUyVf11zBMpMaABjQbWPVyFbKWCHHmKzEQZIK06HFlrnjNbH7US8xRA8Z5_voXn0=e365-w1920);
    min-height: 480px;
    background-size: cover;
    background-position: center;
}
.single{
    background-image: url(https://lh3.googleusercontent.com/G96FZlHKqinn3Set04FGBnz1XMCeObkJtdcLCiTXFoG2W8SlQb_qVdvYdpf4Qd04G7piQz6lOfYis5TMEL-KgzUbFgZOSyJj3gBdQuRFhVp5cOs=e365-w1170);
    padding: 15px;
    border-radius: 5px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    font-size: 18px;
}

.pokecoins-wrapp a img{
    padding: 15px;
}
.pokecoins-info .icon h3,
.pokecoins-wrapp h3{
	font-size: 16px;
    color: #46655F;
    text-align: center;
}
.pokecoins-info .icon .price,
.pokecoins-wrapp .price{
	background: #E5F4DD;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    color: #46655F;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
.mobile-phone.bigger .content-wrapp {
    max-width: 241px;
    height: 430px;
    top: 57px;
    margin-left: -121px;
	overflow: hidden;
}
.mobile-phone .content-wrapp p{
	margin-top: 10px;
    font-size: 10px;
    color: #fff;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}
.mobile-phone .content-wrapp img{
	max-width: 280px;
}
.button {
    display: inline-block;
    border-radius: 20px;
    position: relative;
    font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;
    background: #00acee;
    background: -webkit-gradient(linear,right top,left top,color-stop(4%,#00acee),color-stop(33%,#0087e6),color-stop(93%,#00d1f6));
    background: -o-linear-gradient(right,#00acee 4%,#0087e6 33%,#00d1f6 93%);
    background: linear-gradient(to left,#00acee 4%,#0087e6 33%,#00d1f6 93%);
    padding: 15px 30px 15px 85px;
    margin-left: 10px;
    border: 2px #fff solid;
    text-align: left;
    white-space: nowrap;
    color: #fff;
    text-decoration: none;
    -webkit-transition: all .4s ease-out;
    -o-transition: all .4s ease-out;
    transition: all .4s ease-out;
    cursor: pointer;
}
.button.button-danger{
	background: #ee001f;
    background: -webkit-gradient(linear,right top,left top,color-stop(4%,#ee001f),color-stop(33%,#de001d ),color-stop(93%,#ff5067));
    background: -o-linear-gradient(right,#ee001f4%,#de001d 33%,#ff5067 93%);
    background: linear-gradient(to left,#ff1836 4%,#de001d 33%,#ff5067 93%);
}
.button .play-icon-large {
    position: absolute;
    left: -15px;
    top: -10px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
}
.button .button-text {
    font-size: 1.6em;
}
.play-icon-large {
    width: 93px;
    height: 85px;
    background-position: 21.957% 29.9766%;
    background-size: 550.538%;
}
.button .button-text {
    font-size: 1.6em;
}
.button:active, .button:hover {
    color: #ffc800;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
}
.button:active .play-icon-large, .button:active .play-icon-small, .button:hover .play-icon-large, .button:hover .play-icon-small {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.news-wrap {
    position: relative;
    z-index: 3;
    border-top: 1px solid #fff;
    padding: 30px 10px;
	overflow: hidden;
    margin-top: 100px;
	width: 100%;
}
.news-wrap .bottom-hex {
    background: transparent url(../images/hexagon-fade-up.webp) 0 0 repeat-x;
}
.news-wrap .bottom-hex {
    width: calc(100% + 148px);
    height: 217px;
    position: absolute;
    bottom: 0;
    left: -148px;
    -webkit-animation-name: slide-left;
    animation-name: slide-left;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.three-col, .two-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.news-wrap .three-col .col {
    width: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
    margin: 0 10px 0 30px;
    border-radius: 4px;
    background: -webkit-gradient(linear,left top,left bottom,from(white),to(rgba(255,255,255,.45)));
    background: -o-linear-gradient(top,#fff 0,rgba(255,255,255,.45) 100%);
    background: linear-gradient(to bottom,#fff 0,rgba(255,255,255,.45) 100%);
}
.three-col .col, .two-col .col {
    position: relative;
}
.news-wrap .news-summary {
    border-radius: 4px;
    padding: 16px 10px 9px 55px;
    font-size: 0;
    text-decoration: none;
    min-height: 45px;
    text-align: left;
    cursor: pointer;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	height: 100%;
}
.news-wrap .news-summary .play-icon-large {
    position: absolute;
    top: 3px;
    left: -25px;
    width: 72px;
    height: 67px;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform .2s ease-out;
    transition: -webkit-transform .2s ease-out;
    -o-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out,-webkit-transform .2s ease-out;
}
.news-wrap .news-summary .news-summary-headline {
    display: inline-block; 
    vertical-align: top; 
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: none;
    margin: 0;
    position: relative;
    top: -4px;
    line-height: 1.35;
    text-align: left;
    text-decoration: none;
    text-shadow: none;
}
.close-icon {
    margin-top: 10px;
    float: right;
    cursor: pointer;
    width: 45px;
    height: 45px;
	background-position: 95.0237% .473934%;
    background-size: 568.889%;
}
.modal-header .close {
    opacity: 1;
    padding-bottom: 0;
}
@-webkit-keyframes slide-left{
	0%{-webkit-transform:translateX(0);transform:translateX(0)}
	100%{-webkit-transform:translateX(148px);
	transform:translateX(148px)}
}
@keyframes slide-left{
	0%{-webkit-transform:translateX(0);transform:translateX(0)}
	100%{-webkit-transform:translateX(148px); transform:translateX(148px)}
}
@-webkit-keyframes slide-left-inverted{
	0%{-webkit-transform:translateX(0) scaleY(-1);transform:translateX(0) scaleY(-1)}
	100%{-webkit-transform:translateX(148px) scaleY(-1);transform:translateX(148px) scaleY(-1)}
}
@keyframes slide-left-inverted{
	0%{-webkit-transform:translateX(0) scaleY(-1);transform:translateX(0) scaleY(-1)}
	100%{-webkit-transform:translateX(148px) scaleY(-1);transform:translateX(148px) scaleY(-1)}
}

.loader-main {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
	z-index: 9;
}
.loader-mobile{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.loader-mobile svg{
	width: 80px;
    display: inline-block !important;
}
.modal-content{
	background: transparent;
    border: 0;
}
.modal-backdrop{
	background: -webkit-gradient(linear,left top,left bottom,from(rgba(23,108,206,.9)),to(rgba(61,200,255,.9)));
    background: -o-linear-gradient(top,rgba(23,108,206,.9) 0,rgba(61,200,255,.9) 100%);
    background: linear-gradient(to bottom,rgba(23,108,206,.9) 0,rgba(61,200,255,.9) 100%);
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.modal-header{
	border: 0;
}
.modal-backdrop.show {
    opacity: 1 !important;
}
.top-hex-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 217px;
    overflow: hidden;
}
.top-hex {
    background: transparent url(../images/hexagon-fade-up.png) 0 0 repeat-x;
    width: calc(100% + 148px);
    height: 217px;
    position: absolute;
    top: 0;
    left: -148px;
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    -webkit-animation-name: slide-left-inverted;
    animation-name: slide-left-inverted;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.modal-body.modal-bg .news-article--body{
    margin-bottom: 60px;
    background: rgba(255,255,255,.7);
    padding: 21px 35px 35px 35px;
    border-radius: 6px;
}
.modal-body.modal-bg .news-article--body h2 {
    color: #0069e1;
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 1;
    text-transform: uppercase;
}
.modal-body.modal-bg .news-article--body p {
	font-size: .8em;
    padding: 5px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 19px;
    margin: 10px 0;
    color: #333;
    margin-bottom: 20px;
}

.footer {
    background: #fff;
    min-height: 280px;
    padding: 30px 0 20px 0;
    position: relative;
    overflow: hidden;
}
.footer .legal-wrap {
    text-align: center;
    font-size: .8em;
    max-width: 1200px;
    line-height: 1.4;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
    margin: 0 auto;
    padding: 10px;
}

.footer .social-box a {
    margin: 0 5px;
}
.footer .social-box .social-box-text {
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    margin: 0 auto;
}
/*
.footer .social-box {
    background: rgba(0,0,0,.33);
    border-radius: 6px;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
*/
.footer .social-networks{
	display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.footer .container{
	position: relative;
    z-index: 2;
}
.footer .images{
	display: flex;
    align-items: center;
    justify-content: space-around;
	margin-bottom: 30px;
}

.pokecoins-info h4{
	color: #000;
    padding: 0 0 10px;
}
.pokecoins-info .icon img{
	max-width: 150px;
}
.verify-buttons{
	display: none;
}
@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  50% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

#top1 {
  transform-origin: bottom center;
  animation: move_top1 ease-out 1.2s;
  animation-iteration-count: infinite;
}

@keyframes move_top1 {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  50% {
    transform: translate(-1.5%, -25%) scale(1.3) rotate(-0.5deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}

#top2 {
  transform-origin: bottom left;
  animation: move_top2 ease-out 1.2s;
  animation-iteration-count: infinite;
}

@keyframes move_top2 {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  50% {
    transform: translate(-10%, 1%) scale(1.1) rotate(-2.1deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}

#bottom1 {
  transform-origin: top center;
  animation: move_bottom1 ease-out 1.2s;
  animation-iteration-count: infinite;
}

@keyframes move_bottom1 {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  50% {
    transform: translate(0%, 45%) scale(1.3) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}

#bottom2 {
  transform-origin: top left;
  animation: move_bottom2 ease-out 1.2s;
  animation-iteration-count: infinite;
}

@keyframes move_bottom2 {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  50% {
    transform: translate(38%, 1%) scale(1.3) rotate(-3.5deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}

#bottom3 {
  transform-origin: top right;
  animation: move_bottom3 ease-out 1.2s;
  animation-iteration-count: infinite;
}

@keyframes move_bottom3 {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  50% {
    transform: translate(12%, 5%) scale(1.1) rotate(-1deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}

#bottom4 {
  transform-origin: top left;
  animation: move_bottom4 ease-out 1.2s;
  animation-iteration-count: infinite;
}

@keyframes move_bottom4 {
  0% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
  50% {
    transform: translate(-12%, 5%) scale(1.1) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}

svg.loader {
  width: 100px;
  animation: animationFrames ease-in-out 1.2s;
  animation-delay: 0.05s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes animationFrames {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}
.mobile-mobile{
	display: none;
}

@media (min-width: 992px){
	.modal-lg {
		max-width: 950px;
	}
}
@media (max-width: 991px){

}
@media (max-width: 768px){
	#home .bg-wrapp .hero-bg{
		background-size: cover !important;
	}
	.home-text h1 {
		font-size: 64px;
		text-align: center;
		margin: 35px 0;
	}
	.news.three-col{
		flex-direction: column;
	}
	.news-wrap .three-col .col {
		width: 100%;
		margin: 10px 0;
	}
	.footer .images {
		flex-direction: column;
	}
	.footer .images a{
		margin: 25px 0;
	}
	.mobile-mobile{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(255,255,255);
		z-index: 99;
	}
	.screens{
		max-width: 100%;
		width: 100%;
	}
	.mobile-phone .content-wrapp{
		left: 0;
		width: 100%;
		height: 100%;
		top: 0;
		margin-left: 0;
		max-width: 100%;
	}
	.mobile-phone{
		width: 100%;
	}
	.form-control {
		font-size: 14px;
		padding: 15px;
		height: auto;
	}
	.mobile-phone .content-wrapp p {
		margin-top: 30px;
		font-size: 16px;
		margin-bottom: 30px;
	}
	.btn-sign-in {
		font-size: 16px;
		letter-spacing: 2px;
		padding: 15px 55px;
		margin-top: 20px;
	}
	.mobile-phone .content-wrapp .screens.screen1{
		align-items: center;
	}
	.mobile-phone .content-wrapp .screens.screen1 img{
		margin-bottom: 20px;
		max-width: 300px;
	}
	.pokecoins-info .icon h3, .pokecoins-wrapp h3 {
        font-size: 14px;
	}
	.pokecoins-wrapp a img {
        padding: 15px 25px;
    }
    .loader-text-wrapp, .screen3-inner{
        width: 300px;
    }
}
@media (max-width: 425px){

}
